{% extends "base.html" %} {% block title %}#124123{% endblock %} {% block
content %}

<h1 align="center">Detalhes do Patrimônio</h1>

<div class="col">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ patrimonio.numero_patrimonio }}</h5>
      <p class="card-text">Adicionado em: {{ patrimonio.date }}</p>
    </div>
    <form method="POST">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <select
            class="form-select"
            id="fabricantePatrimonio"
            name="fabricantePatrimonio"
          >
            <option value="{{ patrimonio.fabricante.id }}" selected>
              {{ patrimonio.fabricante.fabricante }}
            </option>
            {% for fabricante in fabricantes %} {% if fabricante.id !=
            patrimonio.fabricante.id %}
            <option value="{{ fabricante.id }}">
              {{ fabricante.fabricante }}
            </option>
            {% endif %} {% endfor %}
          </select>
        </li>
        <li class="list-group-item">
          <select class="form-select" id="tipoPatrimonio" name="tipoPatrimonio">
            <option value="{{ patrimonio.item.id }}" selected>
              {{ patrimonio.item.tipo }}
            </option>
            {% for item in items %} {% if item.id != patrimonio.item.id %}
            <option value="{{ item.id }}">{{ item.tipo }}</option>
            {% endif %} {% endfor %}
          </select>
        </li>
        <li class="list-group-item">
          <input
            type="date"
            class="form-control"
            id="dataPatrimonio"
            name="dataPatrimonio"
            value="{{ patrimonio.aquisicao }}"
          />
        </li>
      </ul>
      <div class="card-body">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
